<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>uber</string>
		<string>uberauth</string>
	</array>
	<key>UberClientID</key>
	<string>vjXx0O_YeIUsaj1bDrGc32AW2fpGqUa4</string>
	<key>UberDisplayName</key>
	<string>fareSnapp</string>
</dict>
</plist>
